body {
  width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: .5rem 0;
}

.header-wrapper img {
  margin: auto 0;
  cursor: pointer;
  
}

.header-wrapper a {
  height: fit-content;
  margin: auto 0;
  padding-top: 4px;
}

